body{
    font-family: 'Oswald', sans-serif;    
}

li{
font-size: 20px;
}

.columna{
background: #f6416c;
color:#ffff;
padding: 30px;
width: 25%;
margin: 20px;
}

.cajarosa{
display: block;
}

.bg-danger a{
color: #ffffff;
text-decoration: none;
}